body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/pic6.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: #fff;
    margin: 0;
    padding: 0;
}


.main-header {
    background-color: #6642b5;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav-icons a {
    color: #f2d4fa;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.welcome-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.welcome-section h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}



.choose-us {
    background-color:  rgba(105, 99, 107, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(238, 201, 244, 0.5);
    margin: 20px;
    width: 80%;
    max-width: 600px;
}

.promise {
    background-color: rgba(213, 170, 222, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(238, 201, 244, 0.5);
    width: 100%;
    max-width: 100%; 
    margin: 0 auto; 
    box-sizing: border-box; 
}

.options {
    padding: 20px;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(5px);          
    border-radius: 10px;                  
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);   
    margin: 20px;
    color: #123a5b;
}

.options h2 {
    font-size: 32px;
    color: #6a2f9b;
    margin-bottom: 20px;
    text-align: center;
}

.options p {
    text-align: center;
    margin-bottom: 20px;
}

.options-list {
    display: flex;
    justify-content: center; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.options-list li {
    margin: 0 15px; 
    color: #9c79e6;
}


h2 {
    font-size: 32px;
    color: #9817ac;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: rgba(247, 208, 238, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}
